@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

ul {list-style-type: none;}
a {text-decoration: none;}

.header, .top-bar {
    background-color: #1F2937;
    display: flex;
}

.header {
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.quote {
    background-color: #E5E7EB;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

a, .left p {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
}

button, .recruiter {
    background-color: #3882F6;
    color: #F9FAF8;
}