@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

ul {list-style-type: none;}
a {text-decoration: none;}

.header, .top-bar {
    background-color: #1F2937;
    display: flex;
}

.header {
    justify-content: space-between;
}

.top-bar {
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    max-width: 400px;
}

.right {
    display: flex;
    height: 200px;
    width: 400px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

h1, .left p, .left div {
    display: flex;
    justify-content: flex-start;
}

.links {
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    border: #3882F6;
    border-style: solid;
    width: 100px;
    height: 100px;
}

.item img, .item p {
    justify-content: center;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.name {
    justify-self: end;
}

a, .left p {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
}

button, .recruiter {
    background-color: #3882F6;
    color: #F9FAF8;
}

button {
    padding: 8px;
    border-radius: 10%;
    padding: 4px 16px;
}